@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<select @bind="choosed" class="form-select" aria-label="Default select example">
    <option value="">Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>

<p>Selected value: @choosed</p>

@code {
    string choosed = "";
}