@using BlazorWebAssemblyStandaloneAppBasics.Components
@using Data

@page "/"


@if (employeeDetails == null)
{
    <p><em>Loading...</em></p>
    @* This is a comment *@
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var employee in employeeDetails)
            {
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-2">
                    <EmployeeCard name=@employee.name image=@employee.image id=@employee.id joined=@employee.joined.ToShortDateString() email=@employee.email></EmployeeCard>
                </div>
            }
        </div>
    </div>
}

@code {
    private EmployeeModel[]? employeeDetails;

    protected override async Task OnInitializedAsync()
    {
        int testIntAsnycGet = await EmployeeService.TestAsync();
        employeeDetails = await EmployeeService.GetEmployeeAsync(DateTime.Now);
    }
}