@code {
    List<string> cars = new List<string>
    {
        "Suzuki",
        "Mazda",
        "Mercedes",
        "Volkswagen"
    };

    string selectedCar = "";

    private void HandleChange(ChangeEventArgs e)
    {
        if (e.Value is string value)
        {
            selectedCar = value;
        }
    }
}

<h3 class="mt-5">Selected car is: <span>@selectedCar</span></h3>

@foreach (string car in cars)
{
    <div class="form-check">
        <input @onchange="HandleChange" class="form-check-input" type="radio" name="RadioGroup" id="@car" value="@car" />
        <label class="form-check-label" for="@car">
            @car
        </label>
    </div>
}