@code {
    [Parameter]
    public string? text { get; set; }

    [Parameter]
    public EventCallback<string> textChanged { get; set; }

    private async Task OnInputChanged(ChangeEventArgs e)
    {
        text = e.Value.ToString();
        await textChanged.InvokeAsync(text);
    }
}

<h3 class="mt-5">In child component current text is: <span>@text</span></h3>

<input @bind="text" @oninput="OnInputChanged" />