@code {
    public string day = "";

    public List<string> days = new List<string>
    {
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
    };
}

<h1>Day is: @day</h1>

<select @bind="day" class="form-select" aria-label="Default select example">
    <option value="" selected>Open this select menu</option>
    @foreach (string day in days)
    {
        <option value="@day">@day</option>
    }
</select>