@code {
    List<string> cars2 = new List<string>
    {
        "Suzuki",
        "Mazda",
        "Mercedes",
        "Volkswagen"
    };

    string selectedCar2 = "";
}

<h3 class="mt-5">Selected car is: <span>@selectedCar2</span></h3>

@foreach (string car2 in cars2)
{
    <div class="form-check2">
        <input @onchange="e => selectedCar2 = car2" class="form-check-input" type="radio" name="RadioGroup" id="@car2" value="@car2" />
        <label class="form-check-label" for="@car2">
            @car2
        </label>
    </div>
}