@page "/monkeys/create"
@inject BlazorAppWebsiteRAD.Data.BlazorAppWebsiteRADContext DB
@using BlazorAppWebsiteRAD.Model
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Monkey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Monkey" OnValidSubmit="AddMonkey" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Monkey.Name" class="form-control" /> 
                <ValidationMessage For="() => Monkey.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label> 
                <InputText id="location" @bind-Value="Monkey.Location" class="form-control" /> 
                <ValidationMessage For="() => Monkey.Location" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="details" class="form-label">Details:</label> 
                <InputText id="details" @bind-Value="Monkey.Details" class="form-control" /> 
                <ValidationMessage For="() => Monkey.Details" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="image" class="form-label">Image:</label> 
                <InputText id="image" @bind-Value="Monkey.Image" class="form-control" /> 
                <ValidationMessage For="() => Monkey.Image" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="population" class="form-label">Population:</label> 
                <InputNumber id="population" @bind-Value="Monkey.Population" class="form-control" /> 
                <ValidationMessage For="() => Monkey.Population" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="latitude" class="form-label">Latitude:</label> 
                <InputNumber id="latitude" @bind-Value="Monkey.Latitude" class="form-control" /> 
                <ValidationMessage For="() => Monkey.Latitude" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="longitude" class="form-label">Longitude:</label> 
                <InputNumber id="longitude" @bind-Value="Monkey.Longitude" class="form-control" /> 
                <ValidationMessage For="() => Monkey.Longitude" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/monkeys">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Monkey Monkey { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddMonkey()
    {
        DB.Monkey.Add(Monkey);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/monkeys");
    }
}
