@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (isPageLoaded)
{
    <input type="text" @bind-value='HTMLDom.FindByID("input1").text' style="background-color: @HTMLDom.FindByID("input1").bgcolor">
    <input type="text" @bind-value='HTMLDom.FindByID("input2").text' style="background-color: @HTMLDom.FindByID("input2").bgcolor">
    
    <button @onclick='() => { ChangeColor("input1"); }'>xyz</button>
    @HTMLDom.FindByID("input1").text
}

@code {
    public bool isPageLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        HTMLDom.domObjects.Add(new HTMLDomObject("input1", "red", "test"));
        HTMLDom.domObjects.Add(new HTMLDomObject("input2", "yellow"));
        isPageLoaded = true;
    }

    public void ChangeColor (string id)
    {
        HTMLDom.FindByID(id).bgcolor = "blue";
    }
}