@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<label>Név:</label>
<input type="text" class="form-control"
       @bind="nev"
       @bind:event="oninput">
<br>

@code
{
    string nev = nev;
}
